/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Header */

h1{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(229, 49, 112);
}

/* Container */

.container{
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
}

.container::after{
    display: table;
    content: "";
    clear: both;
}

p{
    text-align: center;
}

.row-container{
    margin-top: 50px;
}

.row-container::after{
    display: table;
    content: "";
    clear: both;
}

/* Blocco */

.block{
    box-shadow: 0px 0px 7px black;
    width: 350px;
    float: left;
}

img{
    width: 100px;
    float: left;
}

.box{
    padding: 10px;
    color: white;
    float: left;
    width: 250px;
    height: 100px;
    background-color: #0f0e17;
}

.box > *{
    padding: 3px;
    font-size: 15px;
}

.box div:first-child{
    font-size: 17px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

a{
    color: #52bdd3;
    font-style: normal;
    text-decoration: none;
}

.row-container .block:nth-of-type(2){
    margin-left: calc((1100px - 350px * 3)/2);
    margin-right: calc((1100px - 350px * 3)/2);
}
